[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

[project]
name = "jsonschema-specifications"
description = "Support files exposing JSON from the JSON Schema specifications"
readme = "README.rst"
requires-python = ">=3.8"
license = {text = "MIT"}
keywords = ["jsonschema", "json", "data", "validation"]
authors = [
  {email = "Julian+jsonschema-specifications@GrayVines.com"},
  {name = "Julian Berman"},
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dynamic = ["version"]

dependencies = [
  "referencing>=0.9.2",
  "importlib_resources>=1.4.0;python_version<'3.9'",
]

[project.urls]
Documentation = "https://jsonschema-specifications.readthedocs.io/"
Homepage = "https://github.com/python-jsonschema/jsonschema-specifications"
Issues = "https://github.com/python-jsonschema/jsonschema-specifications/issues/"
Funding = "https://github.com/sponsors/Julian"
Source = "https://github.com/python-jsonschema/jsonschema-specifications"

[tool.isort]
combine_as_imports = true
from_first = true
include_trailing_comma = true
multi_line_output = 3
